<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="hive-driver" class="org.apache.hive.jdbc.HiveDriver"/>


    <bean id="hive-ds" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driver" ref="hive-driver"/>

        <!--<property name="url" value="jdbc:hive2://192.168.133.147:10000"/>
        <property name="username" value="#{jdbcProperties['hive.username']}"/>
        <property name="password" value="#{jdbcProperties['hive.password']}"/>-->

        <!--<property name="password" value="#{jdbcProperties['hive.password']}"/>-->
        <property name="url" value="jdbc:hive2://192.168.133.147:10000"/>
        <property name="username" value="liguodong"/>
        <property name="password" value="liguodong"/>
    </bean>

    <bean id="hiveJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg name="dataSource" ref="hive-ds"/>
    </bean>





</beans>